Repository SoftUni-Internal/OpenJudgeSystem, pull requests merged in 2018-03, with the labels that each got.

#217 Added password length validation for Create/Edit of Contest
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Administration/Contests/ViewModels/ContestAdministration.Designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Administration/Contests/ViewModels/ContestAdministration.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Administration/Contests/ViewModels/ContestAdministration.resx
  Open Judge System/Web/OJS.Web/Areas/Administration/ViewModels/Contest/ContestAdministrationViewModel.cs
Labels: master, web

#220 Fixed navbar "Hello <username>!" to be clickable in mobile
  Open Judge System/Web/OJS.Web/Content/Site.css
  Open Judge System/Web/OJS.Web/Views/Shared/_Layout.cshtml
Labels: master, web

#224 Added participation start end time in participants grid
  Open Judge System/Data/OJS.Data.Models/Contest.cs
  Open Judge System/Data/OJS.Data.Models/Participant.cs
  Open Judge System/OJS.Services/Business/Contests/ContestsBusinessService.cs
  Open Judge System/OJS.Services/Business/Participants/ParticipantsBusinessService.cs
  Open Judge System/OJS.Services/Data/Contests/ContestsDataService.cs
  Open Judge System/OJS.Services/Data/Participants/ParticipantsDataService.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Administration/Participants/ViewModels/ParticipantViewModels.Designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Administration/Participants/ViewModels/ParticipantViewModels.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Administration/Participants/ViewModels/ParticipantViewModels.resx
  Open Judge System/Web/OJS.Web/Areas/Administration/ViewModels/Participant/ParticipantAdministrationViewModel.cs
  Open Judge System/Web/OJS.Web/Areas/Administration/Views/Participants/_Participants.cshtml
  Open Judge System/Web/OJS.Web/Areas/Contests/ViewModels/Participants/ParticipantViewModel.cs
  Open Judge System/Web/OJS.Web/Controllers/TempController.cs
Labels: requires post-deploy actions

#221 Made problem name link to the problem in Submissions/Details
  Open Judge System/OJS.Services/Data/Problems/IProblemsDataService.cs
  Open Judge System/OJS.Services/Data/Problems/ProblemsDataService.cs
  Open Judge System/OJS.Services/Data/Submissions/ISubmissionsDataService.cs
  Open Judge System/OJS.Services/Data/Submissions/SubmissionsDataService.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Contests/Views/Submissions/SubmissionsView.Designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Contests/Views/Submissions/SubmissionsView.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Contests/Views/Submissions/SubmissionsView.resx
  Open Judge System/Web/OJS.Web/Areas/Contests/Controllers/SubmissionsController.cs
  Open Judge System/Web/OJS.Web/Areas/Contests/ViewModels/Submissions/SubmissionDetailsViewModel.cs
  Open Judge System/Web/OJS.Web/Areas/Contests/Views/Submissions/View.cshtml
Labels: master, web

#218 Added 'Create contest' button in categories view
  Open Judge System/OJS.Services/Data/ContestCategories/ContestCategoriesDataService.cs
  Open Judge System/OJS.Services/Data/ContestCategories/IContestCategoriesDataService.cs
  Open Judge System/OJS.Services/OJS.Services.csproj
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Contests/Views/List/ListByCategory.Designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Contests/Views/List/ListByCategory.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Areas/Contests/Views/List/ListByCategory.resx
  Open Judge System/Web/OJS.Web/Areas/Administration/Controllers/ContestsController.cs
  Open Judge System/Web/OJS.Web/Areas/Contests/Views/List/ByCategory.cshtml
  Open Judge System/Web/OJS.Web/Content/Site.css
Labels: master, web

#219 Fixed orderby of contests in category view
  Open Judge System/Web/OJS.Web/Areas/Contests/ViewModels/Contests/ContestCategoryViewModel.cs
  Open Judge System/Web/OJS.Web/Controllers/TempController.cs
Labels: master, requires post-deploy actions, web

#234 Fixed link for problem from submissions page for online contest
  Open Judge System/Web/OJS.Web/Areas/Contests/Controllers/CompeteController.cs
  Open Judge System/Web/OJS.Web/Areas/Contests/Controllers/SubmissionsController.cs
Labels: Web

#235 Added Modified On in Submissions/Details page for admins/lecturers
  Open Judge System/Web/OJS.Web/Areas/Contests/ViewModels/Submissions/SubmissionDetailsViewModel.cs
  Open Judge System/Web/OJS.Web/Areas/Contests/Views/Submissions/View.cshtml
Labels: Web

#233 Changed setting of PartipationStart/End time to be only in official online contests
  Open Judge System/OJS.Services/Business/Participants/ParticipantsBusinessService.cs
  Open Judge System/Web/OJS.Web/Controllers/TempController.cs
Labels: Web

#238 Added check to see if ExecutionStrategies directory exists before deleting files
  Open Judge System/OJS.Common/Extensions/DirectoryHelpers.cs
Labels: Web

#236 Added java base update time offset
  Open Judge System/Workers/OJS.Workers.Common/Settings.cs
  Open Judge System/Workers/OJS.Workers.ExecutionStrategies/JavaPreprocessCompileExecuteAndCheckExecutionStrategy.cs
  Open Judge System/Workers/OJS.Workers.LocalWorker/App.config
  Open Judge System/Workers/OJS.Workers.LocalWorker/Helpers/SubmissionJobHelper.cs
Labels: Worker

#239 Fixed Contest Results ordering
  Open Judge System/Web/OJS.Web/Areas/Contests/Controllers/ResultsController.cs
  Open Judge System/Web/OJS.Web/Areas/Contests/ViewModels/Results/ParticipantResultViewModel.cs
Labels: Web

#242 Removed duplicate call to File.Delete
  Open Judge System/Workers/OJS.Workers.ExecutionStrategies/ExecutionStrategy.cs
Labels: Master, Worker

#241 Modified execution result in case of exceptions in C/C++ executables.
  Open Judge System/Workers/OJS.Workers.Executors/RestrictedProcessExecutor.cs
  Open Judge System/Workers/OJS.Workers.Executors/StandardProcessExecutor.cs
Labels: Master, Worker

#245 Added English section for register redirect.
  Open Judge System/OJS.Common/UrlConstants.cs
  Open Judge System/Web/OJS.Web/Views/Account/ExternalNotify.cshtml
Labels: Master, Web

#243 Added change language buttons in nav bar
  Open Judge System/OJS.Common/GlobalConstants.cs
  Open Judge System/Web/OJS.Web/Content/Site.css
  Open Judge System/Web/OJS.Web/Controllers/BaseController.cs
  Open Judge System/Web/OJS.Web/Scripts/global.js
  Open Judge System/Web/OJS.Web/Views/Shared/_Layout.cshtml
Labels: Web

#244 Rearranged home page sections, removed future contests and added top-level categories
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.resx
  Open Judge System/Web/OJS.Web/App_Start/BundleConfig.cs
  Open Judge System/Web/OJS.Web/Content/css/home/index/home.css
  Open Judge System/Web/OJS.Web/Controllers/HomeController.cs
  Open Judge System/Web/OJS.Web/OJS.Web.csproj
  Open Judge System/Web/OJS.Web/ViewModels/Home/Index/HomeContestViewModel.cs
  Open Judge System/Web/OJS.Web/ViewModels/Home/Index/IndexViewModel.cs
  Open Judge System/Web/OJS.Web/Views/Home/Index.cshtml
Labels: Web

#247 Rearranged home page sections, removed future contests and added top-level categories
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.resx
  Open Judge System/Web/OJS.Web/App_Start/BundleConfig.cs
  Open Judge System/Web/OJS.Web/Content/css/home/index/home.css
  Open Judge System/Web/OJS.Web/Controllers/HomeController.cs
  Open Judge System/Web/OJS.Web/OJS.Web.csproj
  Open Judge System/Web/OJS.Web/ViewModels/Home/Index/HomeContestViewModel.cs
  Open Judge System/Web/OJS.Web/ViewModels/Home/Index/IndexViewModel.cs
  Open Judge System/Web/OJS.Web/Views/Home/Index.cshtml
Labels: Web

#248 Added video and removed facebook section
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Home/Views/Index.resx
  Open Judge System/Web/OJS.Web/Content/PublicFiles/SoftUni-Judge-System-Guidelines-bg.pdf
  Open Judge System/Web/OJS.Web/Content/PublicFiles/SoftUni-Judge-System-Guidelines-en.pdf
  Open Judge System/Web/OJS.Web/Content/Site.css
  Open Judge System/Web/OJS.Web/Content/css/home/index/home.css
  Open Judge System/Web/OJS.Web/Controllers/HomeController.cs
  Open Judge System/Web/OJS.Web/OJS.Web.csproj
  Open Judge System/Web/OJS.Web/Views/Home/Index.cshtml
  Open Judge System/Web/OJS.Web/Views/Shared/_Layout.cshtml
Labels: Web
