Repository SoftUni-Internal/OpenJudgeSystem, pull requests merged in 2023-12, with the labels that each got.

#948 Set expiration time for ContestView
  Open Judge System/Web/OJS.Web/Areas/Contests/Controllers/CompeteController.cs
Labels: Legacy Judge

#951 Navigate to not found page when a submission with a missing ID is entered.
  Servers/UI/OJS.Servers.Ui/ClientApp/src/components/submissions/details/SubmissionDetails.tsx
  Services/UI/OJS.Services.Ui.Business/Implementations/SubmissionsBusinessService.cs
Labels: Alpha Judge

#966 Login admin even when Suls is down
  Open Judge System/OJS.Common/GlobalConstants.cs
  Open Judge System/Web/OJS.Web.Common/Extensions/TempDataExtentions.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Account/AccountControllers.Designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Account/AccountControllers.bg.designer.cs
  Open Judge System/Web/OJS.Web/App_GlobalResources/Account/AccountControllers.bg.resx
  Open Judge System/Web/OJS.Web/App_GlobalResources/Account/AccountControllers.resx
  Open Judge System/Web/OJS.Web/Controllers/AccountController.cs
  Open Judge System/Web/OJS.Web/Controllers/BaseController.cs
Labels: Legacy Judge

#967 Login admin when SULS not working
  Common/OJS.Common/GlobalConstants.cs
  Servers/UI/OJS.Servers.Ui/ClientApp/src/components/auth/LoginForm.tsx
  Servers/UI/OJS.Servers.Ui/Controllers/AccountController.cs
Labels: Alpha Judge

#956 Raise the cache expiration time to reduce the number of redis not connected emails.
  Open Judge System/Services/OJS.Services/RedisCacheService.cs
Labels: Legacy Judge

#851 Added endpoint for geting emails of participants in contest
  Open Judge System/Web/OJS.Web/Areas/Api/Controllers/ResultsController.cs
Labels: Legacy Judge

#945 fix incorrectly calculated value for Memory Used
  Servers/UI/OJS.Servers.Ui/ClientApp/src/components/problems/problem-constraints/ProblemConstraints.tsx
  Servers/UI/OJS.Servers.Ui/ClientApp/src/components/submissions/details/submission-result-details/SubmissionResultsDetails.tsx
  Servers/UI/OJS.Servers.Ui/ClientApp/src/components/submissions/test-run-details/TestRunDetails.tsx
Labels: Alpha Judge, on dev branch
